node_modules
_site
yarn.lock
.DS_Store
!build/*
!build/es5-amd/node_modules
!build/es5-amd/node_modules/**
!build/es6-amd/node_modules
!build/es6-amd/node_modules/**
!build/es6/node_modules
!build/es6/node_modules/**
build/es6/node_modules/@polymer/.DS_Store