---
layout: base.liquid
---
{% if settings.mode == "haxcms" %}
  <haxcms-site-builder file="site.json"></haxcms-site-builder>
{% else %}
  <haxtheme-banner size="large" image="{{ settings.siteLogo }}" title="{{ settings.siteName }}" details="{{ settings.siteDescription }}"></haxtheme-banner>
  <main>
    <site-menu></site-menu>
  {%- for post in collections.post -%}
    <haxtheme-item title="{{post.data.title}}" url="{{post.url}}" date="{{post.date}}"></haxtheme-item>
  {%- endfor -%}
  </main>
{% endif %}