<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <base href="/" />
  <link rel="preconnect" crossorigin href="https://cdn.webcomponents.psu.edu/">
  <link rel="preconnect" crossorigin href="https://fonts.googleapis.com">
  <link rel="preconnect" crossorigin href="https://cdnjs.cloudflare.com">
  <link rel="preconnect" crossorigin href="https://i.creativecommons.org">
  <link rel="preconnect" crossorigin href="https://licensebuttons.net">
  <link rel="preload" href="https://cdn.webcomponents.psu.edu/cdn/build/es6/node_modules/mobx/lib/mobx.module.js" as="script" crossorigin="anonymous" />
  <link rel="modulepreload" href="https://cdn.webcomponents.psu.edu/cdn/build/es6/node_modules/@lrnwebcomponents/haxcms-elements/lib/core/haxcms-site-builder.js" as="script" crossorigin="anonymous" />
  <link rel="modulepreload" href="https://cdn.webcomponents.psu.edu/cdn/build/es6/node_modules/@lrnwebcomponents/haxcms-elements/lib/core/haxcms-site-store.js" as="script" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.webcomponents.psu.edu/cdn/build/es6/node_modules/@lrnwebcomponents/haxcms-elements/lib/base.css">
  <script type="module" src="/assets/js/app.js"></script>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
  <meta name="generator" content="HAXcms">
  <meta name="description" content="A HAXCMS site">
  <meta name="theme-color" content="#3f51b5">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name=”robots” content=”index, follow”>
  <meta name="application-name" content="My site">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="My App">
  <meta name="msapplication-TileImage" content="assets/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#3f51b5">
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="icon" href="assets/favicon.ico">
  <link rel="apple-touch-icon" href="assets/icon-48x48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="assets/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/icon-144x144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="assets/icon-192x192.png">
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body no-js vocab="http://schema.org/" prefix="oer:http://oerschema.org cc:http://creativecommons.org/ns dc:http://purl.org/dc/terms/">
  {{content}}
  <script>document.body.removeAttribute('no-js');window.__appCDN="https://cdn.webcomponents.psu.edu/cdn/";window.__appForceUpgrade=false;</script><script src="https://cdn.webcomponents.psu.edu/cdn/build.js"></script>
</body>
</html>