---
permalink: "browserconfig.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
	<msapplication>
		<tile>
			<square70x70logo src="{{ settings.siteLogo }}"/>
			<square150x150logo src="{{ settings.siteLogo }}"/>
			<square310x310logo src="{{ settings.siteLogo }}"/>
			<TileColor>{{ settings.themeHexCode }}</TileColor>
		</tile>
	</msapplication>
</browserconfig>