---
permalink: "lunrSearchIndex.json"
eleventyExcludeFromCollections: true
---
[
{% for page in collections.searchDataOrder %}  {
   "id":"{{page.data.title}}",
   "title":"{{page.data.title}}",
   "created": "{{page.data.date}}",
   "location":"{% absoluteBasePath page.url %}",
   "description":"{% excerpt page %}",
   "text":"{% excerpt page %}"
  }{% if loop.last == false %},{% endif %}
{% endfor %}]